# Python
pothole_env/
__pycache__/
*.pyc

# Model weights (too large for GitHub)
*.pt

# Videos
*.mp4
*.avi
*.mov
*.mkv
*.webm

# Dataset
BharatPotHole/
archive/
merged_dataset/train/
merged_dataset/valid/
merged_dataset/test/

# Outputs
outputs/

# Cache
.cache/

runs/